﻿@model HomeDetailsViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<h1>@Model.PageTitle</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/img/img.jpg" asp-append-version="true" />
                <h4>@Model.Employee.Email</h4>
                <h4>@Model.Employee.Department</h4>
            </div>

            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
