﻿@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee List";
}

<div class="card-deck">

    @foreach(var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">@employee.Name</div>
            <img class="card-img-top" src="~/img/img.jpg" asp-append-version="true">
            <div class="card-footer">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary btn-block">Show</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/scripts.js"></script>
}